#recherche{
    display: flex;
    justify-content: right;
}

#lefilm{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

#lefilm img{
    margin: 1%;
    margin-bottom: 0;

}
.mytitre{
    margin-top: 0;
    margin-left: 1%;
    width: 65%;
    background-color: black;
    color: white;
}